// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

$white: #ffffff;
$Dwhite: #fbfeff;
$whiteFC: #fcfcfc;
$whiteFB: #fcfcfb;
$grey-3: #333333;
$grey-6: #666666;
$grey-5: #555555;
$grey-9: #999999;
$grey-c: #cccccc;
$grey-d: #dddddd;
$green-AB: #a8bd30;
$green-4: #419187;
$black-0: #000000;
$red: #dc3545;
$blue: #4990e1;
$blue-f2: #f2f8ff;
$blue-4: #4990e1;
$blue-2D: #2d588a;
$blue-4B: #4b92db;
$blue-txt: #3e74b3;
$black-4: #404040;
$black-42: #424244;
$gray-B: #bfbfbf;
$gray-80: #808080;
$red-8F: #4f008cf2;
$red-6B: #6b1013;
$red-BE: #be1f24;
$red-D: #05438e;
$yellow-E: #efc154;
$egac-primary: #dbebff;
$egac-darkBlue: #05438e;
$egac-lightBlue: #5688c5;
$egac-F2F7FD: #f2f7fd;
$egac-F8FAFD: #f8fafd;
$egac-sidebar-color: #f2f7fd;
$egac-btn: #e48d1a;
$egac-footer: #ffffff;
$egac-btnBorder: #0761ce;
$egac-btnBorderNormal: #d9d9d9;
$egac-tabColor: #4093f8;


$egac-ec: #ececec;
$egac-darkRed: #8F151A;
$egac-lightRed: #b31a20;

$black-0: #000000;
$grey-2: #222222;
$grey-3: #333333;
$grey-4: #444444;
$grey-5: #555555;
$grey-6: #666666;
$grey-7: #777777;
$grey-9: #999999;
$grey-c: #cccccc;
$grey-d: #dddddd;
$grey-D9: #d9d9d9;
$grey-f2: #f2f2f2;
$green-4: #419187;
$red: #dc3545;
$blue-000: #f7fbff;
$blue-100: #dbebff;
$blue-150: #ebf4ff;
$blue-160: #f1f6fc;
$blue-200: #a1cafc;
$blue-300: #4093f8;
$blue-400: #0761ce;
$blue-500: #a1cafc;
$blue-600: #043167;
$blue-700: #021e41;
$black-4: #404040;
$black-42: #424244;
$orange-000: #fff9ef;
$orange-140: #fdf8f0;
$orange-150: #fff3df;
$orange-160: #f6e3c4;
$orange-100: #ffc967;
$orange-200: #f9ad24;
$orange-300: #e48d1a;
$orange-400: #cd7919;
$green-300: #178d32;
$borderColor: #dfdfdf;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

$imgPath: '../../images';

$base-size: 16;
@function rem($target, $context: $base-size) {
  @return ($target / $base-size) * 1rem;
}
$default-behaviour: true; //  true or false

//== font-families
//
// font family
$font-family-default: 'Montserrat', sans-serif;
$font-numbers-default: 'Montserrat', sans-serif;
$fonts-map-default: ();
// font family
$font-family-reverse: 'Almarai', sans-serif;
$font-numbers-reverse: 'Almarai', sans-serif;
$fonts-map-reverse: ();
